
body{
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(85,85,161,1) 0%, rgba(0,212,255,1) 100%);
}
.container{ 
    display: flex; 
    height: 100vh;
    font-family: 'Caveat', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
.weather-day{
    color: yellow;
    justify-self: center;
    align-self: center;
    flex-basis: 10vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.todayBtn, .tommorowBtn, .dayAfterTommorowBtn {
    
    width: 200px;
    height: 200px; 
   
}
img {
    height: 100px;
}
span {
    text-align: center;
}
